.member {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
main {
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
main div {
    border: 1px solid black;
}
.title {
    text-align: center;
}

h2 {
    text-align: center;
    width: 60%;
}
.duration {
    display: inline-block;
    width: 40%;
}
main.div > h2.duration {
    width: 30%;
}

ul > li {
    font-size: 18px;
    margin-left: 50px;
}